* {
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #4D4D4D;
}

p {
    font-size: 14px;
    color: #717171;
}

.section {
    width: 1152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.our-clients-wrapper {
    text-align: center;
}

.h2-our-clients {
    margin-bottom: 8px;
}

.p-our-clients {
    margin-bottom: 16px;
}

.ul-icons {
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 136px;
}




.manage-community-wrapper {
    text-align: center;
}

.h2-manage-community {
    margin-bottom: 8px;
}

.p-manage-community {
    margin-bottom: 16px;
}

.block-cards {
    width: 1152px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    box-shadow: -3px 4px 10px 2px rgba(20, 20, 20, 0.02);
    padding: 24px 16px;
    border-radius: 8px;
}

.card p {
    width: 260px;
}

.h3-card {
    font-size: 28px;
    font-weight: bold;
    color: #4D4D4D;
    margin-bottom: 8px;
}







.pixelgrade {
    height: 430px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.pixelgrade-info {
    max-width: 600px;
}

.button {
    margin-top: 52px;
}

.button-a {
    padding: 20px;
    color: #FFFFFF;
    background-color: #4CAF4F;
    border-radius: 4px;
}